<!DOCTYPE html>
<html lang="en">
  {% include "_head.html" %}
<body>
  <div class="layout">
    <aside id="cluster-index">
      <h4>Cluster Index</h4>
      <ul id="index-list"></ul>
    </aside>

    <main style="flex: 1; padding: 20px;">
      {% include "_filters.html" %}
      <div id="loading-wrapper">
        <div id="loading" class="spinner"></div>
      </div>      
      <div id="clusters-area"></div>
    </main>
  </div>

  {% include "_mini_map.html" %}
  {% include "_scripts.html" %}
</body>
</html>
